.watched-icon {
    color: green;
    font-size: 1.5em;
    margin-left: 10px;
}
.episode {
    width: calc(50% - 20px); /* Para dispositivos móveis, 2 colunas por linha */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    .episode {
        width: calc(33.33% - 20px); /* Para PCs, 3 colunas por linha */
    }
}

.episode-title {
    margin: 5px 0;
    text-align: center;
    display: none;
}

.watch-button {
    width: 100%;
    height: 50px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    margin: 5px auto;
}

.watch-button:hover {
    background-color: #0056b3;
}

#episodeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



