.watched-icon {
    color: green;
    font-size: 1.5em;
    margin-left: 10px;
    display: none; /* Inicialmente escondido */
}

.not-finished {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
    display: none; /* Inicialmente escondido */
}

.episode-item {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Para ajustar em telas menores */
}

.episode-item:hover {
    background-color: #f5f5f5;
}

.episode-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px; /* Espaço entre imagem e texto em telas menores */
}

.episode-details {
    flex-grow: 1;
    min-width: 0; /* Para garantir que não estoure em telas menores */
}

.episode-title {
    font-size: 1.2rem;
    margin: 0;
}

.episode-info {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

/* Animação */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .logo-animation {
    animation: bounce 2s infinite;
    max-width: 100px;
    height: auto;
  }
  
  /* Certificando que a logo será exibida corretamente em todos os dispositivos */
  @media (min-width: 576px) {
    .logo-animation {
      max-width: 150px; /* Aumenta o tamanho da logo em telas maiores */
    }
  }
  