.movie-card {
    background-color: #1e1e1e;
    border: none;
  }
  .movie-card img {
    height: 200px;
    object-fit: cover;
  }
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* Transparente */
  }
  .container {
    padding-top: 100px; /* Espaço para a navbar fixa */
  }
  .card {
    background-color: #1e1e1e;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .card-title {
    color: #ffcc00;
  }
  .btn-primary {
    background-color: #ffcc00;
    border: none;
  }
  .btn-primary:hover {
    background-color: #e6b800;
  }
  footer {
    background-color: #1e1e1e;
  }